.contact_form_container {
  display: flex;
  min-height: 860px;
  justify-content: center;
  align-items: center;
}
.contact_form {
  display: flex;
  flex-direction: column;
  margin-top: 1.25rem;
  width: 60%;
  margin: 0 auto;
}
.contact_field {
  display: flex;
  flex-direction: column;
  text-align: left;
}
.contact_field_content {
  padding: 0.5rem;
  background: var(--color3-main);
  border-radius: 0.25rem;
}
.contact_button {
  background: transparent;
  width: 25%;
  color: black;
  align-self: center;
  border-radius: 0.25rem;
  padding: 0.5rem;
  &:hover {
    background: blue;
    color: white;
    transition: 0.4s;
  }
}
