.footer_styled {
  background: var(--color2-main);
  text-align: center;
  color: white;
  padding: 1.25rem;
}
.footer_styled_two {
  background: var(--color3-main);
  text-align: center;
  color: white;
  padding: 1.25rem;
}
