.footer_styled {
  background: var(--color2-main);
}
.footer_styled_two {
  background: var(--color3-main);
}
footer {
  text-align: center;
  color: white;

  // position: fixed;
  // left: 0;
  // bottom: 0;
  // width: 100%;

  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}
