.footer_styled {
  background: var(--color1-main);
}

footer {
  // text-align: center;
  display: flex;

  justify-content: center;

  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}
p {
  margin: auto;
}
.reactLink {
  // color: #bad6e5 !important;
  &:hover {
    color: var(--color1-secondary) !important;
  }
}
