
.footer_styled {
  background: var(--color1-main);
  position: fixed;
  font-size: 0.75rem;
  bottom: 0;
  width: 100vw;
  margin: auto;
  height: 2.5rem;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  border: 1px solid var(--color3-main);
  opacity: 0;
  transition: 0.3s;
  &:hover {
    transition: 0.3s;
    opacity: 1;
  }
  @media screen and (max-width: 762px) {
    height: 2rem;
    font-size: 11px;       
  }
}

footer {
  text-align: center;
  display: flex;
  justify-content: center;
  
}
.divFooter {
  margin: auto;
  @media screen and (max-width: 762px) {
  
  }
}
.reactLink {
  &:hover {
    transition: 0.3s;
    color: var(--color1-secondary) !important;
  }
}
