.nav_container {
  // background: var(--color1-main);
  height: 2.5rem;
  padding: 0.5rem;
  border: 1px solid var(--color3-main);
  max-width: 100vw;
}

@media screen and (min-width: 760px) and (max-width: 960px) {
  .nav_container {
    display: flex;
    justify-content: center;
  }
}
.nav_list {
  display: flex;
  justify-content: flex-end;
  margin-right: 40px; 
  
}
.burger {
  display: none;
  cursor: pointer;
}
.burger div {
  width: 25px;
  height: 3px;
  background-color: var(--color2-secondary);
  margin: 5px;
  transition: all 0.3s ease;
}

.nav_link {
  margin-left: 1rem;
  font-size: 1.5rem;
  font-family: "Roboto Slab", serif;
  font-weight: 700;
  transition: 0.6s;
  
  &:hover {
    color: var(--color1-secondary) !important;
    transition: 0.3s;
  }
}
.nav_link_active {
  transition: 0.6s;
  color: var(--color5-main) !important;
}

@media screen and (max-width: 760px) {
  .nav_container {
    height: 2rem;
  }
  .nav_list {
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    left: 0;
    margin-right: 0px;
    top: 3.1rem;
    transform: translateX(-120%);
    min-width: 50%;
    min-height: 70vh;
    border-right: 1px solid var(--color3-main);
    border-bottom: 1px solid var(--color3-main);
    border-left: 2px solid var(--color3-main);
  }
  .nav_list.true {
    transform: translateX(0%);
    transition: transform 0.5s ease-in-out;
  }
  .nav_list.false {
    transform: translateX(-120%);
    transition: transform 0.5s ease-out;
  }

  .burger {
    display: block;
    position: absolute;
    left: 10px;
    top: 10px;
    margin-right: 1rem;
  }
  
  .testLi1 {
    animation: nav_li_fade 1s ease forwards 0s;
 
  }
  .testLi2 {
    animation: nav_li_fade 1.2s ease forwards 0s;
  
  }
  .testLi3 {
    animation: nav_li_fade 1.4s ease forwards 0s;
   
  }
  .testLi4 {
    animation: nav_li_fade 1.6s ease forwards 0s;
    
  }
  .testLi5 {
    animation: nav_li_fade 1.8s ease forwards 0s;

  }
}


@keyframes nav_link_fade {
  from {
    opacity: 0;
    
  }
  to {
    opacity: 1;
    
    transition: 1s;
  }
}
@keyframes nav_li_fade {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
// burgerToggled is now replaced with menuOpen value from store, if its true, it means the menu is open and burger needs to be transformed
.line1.true {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.line2.true {
  opacity: 0;
}
.line3.true {
  transform: rotate(45deg) translate(-5px, -6px);
}
