.svg-icon {

  fill: var(--color2-secondary);
  &:hover {
    fill: var(--color1-secondary) !important;
    transition: 0.3s;
  }
}
.buttonThemes {
  position: absolute;
  top: 5px;
  right: 0;
  width: 40px;
  height: 40px;
  background: transparent;
  outline: none;
  border: none;
}
