.contactButtonContainer {
  margin-left: 10px;
  margin-right: 40px;
  overflow: hidden;
}
// @media screen and (max-width: 760px) {
//   .contactButtonContainer {
//     margin-right: 0px;
//   }
// }
